<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Sistema" connectionString="Server=localhost;Database=SistemaMoto2;Trusted_Connection=True;"
      providerName="SqlClient Data Provider" />
    <add name="EquipMotos.Properties.Settings.SistemaMotoConnectionString"
      connectionString="Host=127.1.1.1;Database=SistemaMoto;Username=postgres;Password=123;Persist Security Info=True"
      providerName="Npgsql" />
    <add name="EquipMotos.Properties.Settings.ConnectionSistemaMoto"
      connectionString="Data Source=INSPIRON15;Initial Catalog=SistemaMoto;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EquipMotos.Properties.Settings.ConnectionStringSistemaMoto2"
      connectionString="Data Source=INSPIRON15;Initial Catalog=SistemaMoto2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.data>
    <DbProviderFactories>
      <add name="SqlClient Data Provider"
       invariant="System.Data.SqlClient"
       description=".Net Framework Data Provider for SqlServer"
       type="System.Data.SqlClient.SqlClientFactory, System.Data,   &#xD;&#xA;     Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    />
    </DbProviderFactories>
  </system.data>

</configuration>